@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(243, 246, 248);
}

.btn-1 {
  background-color: #ef0f66;
  color: white;
  padding: 10px;
  border-radius: 7px;
  font-weight: 400;
}

.btn-1:hover {
  background-color: #d60153;
}

.btn-2 {
  background-color: white;
  color: #ef0f66;
  padding: 9px;
  border-radius: 7px;
  font-weight: 400px;
  border: 1px solid #ef0f66;
}

.btn-2:hover{
  background-color: #ef0f66;
  color: white;
  border: none;
}


